<h2>Ingrese su nombre</h2>


<br />
<input type="text" [(ngModel)]="nombre" placeholder="Su nombre..." />
<br />
<br />
<input type="text" [(ngModel)]="apellido" placeholder="Su apellido..." />


<div [ngSwitch]="nombre">
  <p *ngSwitchCase="'nicolas'">Este es Nicolas</p>
  <p *ngSwitchCase="'julian'">Este es Julian</p>
  <p *ngSwitchCase="'camilo'">Este es Camilo</p>
  <p *ngSwitchDefault>No hay usuarios con ese nombre</p>
</div>

<button (click)="addItem()">Add item</button>
<br />  
<br>
<input type="checkbox" #checkbox1 [checked]="false" />

<div style="padding-left: 20px">
  <li *ngIf="items.length === 0">La lista esta vacia!</li>
  <li *ngFor="let name of items; index as index" style="list-style-type: none">
    - {{ name }} ({{ "en el indice " + index }})
    <button
      style="background-color: black; color: white; cursor: pointer"
      (click)="deleteItem(index)"
    >
      X
    </button>
  </li>
</div>



<div
  *ngFor="let product of products"
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
    margin: 10px;
  "
>
<app-product (productCliked)="clickProduct($event)" [product]="product"></app-product>
  
</div>
