<h2>Ingrese su nombre</h2>
<br />
<input type="text" [(ngModel)]="nombre" placeholder="Su nombre..." />
<br />
<br />
<input type="text" [(ngModel)]="apellido" placeholder="Su apellido..." />
<h3
  *ngIf="
    nombre != '' && apellido != '' && nombre.length >= 4 && apellido.length >= 4
  "
>
  Su nombre es: {{ nombre + " " + apellido }}
</h3>

<button (click)="addItem()">Add item</button>
<input type="checkbox" #checkbox1 [checked]="false" />

<div style="padding-left: 20px">
  <li *ngIf="items.length === 0">La lista esta vacia!</li>
  <li *ngFor="let name of items; index as index" style="list-style-type: none">
    - {{ name }} ({{ "en el indice " + index }})
    <button
      style="background-color: black; color: white; cursor: pointer"
      (click)="deleteItem(index)"
    >
      X
    </button>
  </li>
</div>

<!-- <div
  *ngFor="let product of products"
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
    margin: 10px;
  "
>
  <h3
    style="
      width: 100%;
      background-color: black;
      color: white;
      text-align: center;
      padding: 10px;
      margin: 0;
    "
  >
    {{ product.title }}
  </h3>
  <img
    src="../{{ product.image }}"
    alt="{{ product.description }}"
    style="width: 60%; cursor: pointer"
    title="{{ product.description }}"
  />
  <h4
    style="
      font-size: 30px;
      padding: 0;
      color: olivedrab;
      background-color: black;
      padding: 10px;
      border-radius: 7.5px;
    "
  >
    $ {{ product.price }}
  </h4>
</div> -->
